<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../js/common/jquery-3.4.1.js" type="text/javascript"></script>
    <script src="../../js/first/statement.js" type="text/javascript"></script>
    <script src="../../js/first/createStatementData.js" type="text/javascript"></script>
    <title>invoice</title>
    <style>
        table{
            width: 100%;
        }
        div,table,h1,p,button{
            text-align: center;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div>计算戏剧团演出团账号</div>
    <div id="result"></div>
    <div><button class="result">结果</button></div>
</body>
</html>